@media only screen and (max-width: 800px) {
    .features
    {
        display: flex;
        flex-direction: column;
    }
    .features .featBox
    {
        width: 280px;
        height: 200px;
  
    }
    .FeatureBox
    {
        height: 50rem !important;
        margin-top: -30px;
    }
    .btn
    {
        width: 10rem ;
    }
    .fillBox
    {
        width: 800px !important;
        background-color: #1e1e1e ;
    }
    .mText
    {
        margin-top: 60px;
    }
}